/* @keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.trident {
  animation: spinY 9s linear infinite;
  transform-style: preserve-3d; /* Ensures proper 3D effect */
  /* position: absolute; */
  /* z-index : -1; */
/* }  */

.navlist{
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 50px;
  padding: 15px;
  width: 100%;
  font-weight: bolder;
  font-size: larger;
}

.margin{
  margin: 15px;
}

.pading{
  padding: 5px;
}

.name, .designation{
  color: rgb(89, 239, 99);
}

.linklist{
  padding: 25px 0px;
  list-style: none;
  display: flex;
  justify-content: right;
  column-gap: 12px;
}

.connect{
  background-color: brown;
  border: none;
  padding: 9px;
  font-size: larger;
  border-radius: 4px;
  cursor: pointer;
}

.right{
  align-items: center;
  text-align: center;
}

.photo{
  border-radius: 5%;
}

.projects{
  width: 90%;
  margin: 55px auto;
  /* padding-top: 55px;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; */
}

.projects h2{
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

.projs{
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(29, 29, 29);
  border-radius: 14px;
}

.description{
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* column-gap: 20px; */
  cursor: pointer;
}

.words{
  text-align: justify;
  padding: 4px;
}

.projDetail{
  width: 50%;
  height: fit-content;
  margin: auto;
}

.head{
  padding-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: large;
}

.imgs{
  border-radius: 7px;
}

.div{
  background-color: rgb(29, 29, 29);
}


