
.navlist{
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 50px;
  padding: 15px;
  width: 100%;
  font-weight: bolder;
}

.margin{
  margin: 15px;
}

.pading{
  padding: 5px;
}

.name, .designation{
  color: rgb(89, 239, 99);
}

.linklist{
  padding: 25px 0px;
  list-style: none;
  display: flex;
  justify-content: right;
  column-gap: 12px;
}

.connect{
  background-color: brown;
  border: none;
  padding: 9px;
  font-size: larger;
  border-radius: 4px;
  cursor: pointer;
}

.right{
  align-items: center;
  text-align: center;
}

.photo{
  border-radius: 5%;
}

.projects{
  margin: 55px auto;
}

.projects h2{
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

.projs{
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(29, 29, 29);
  border-radius: 14px;
}

.words{
  text-align: justify;
  padding: 4px;
}

.projDetail{
  height: fit-content;
  margin: auto;
}

.head{
  padding-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: large;
}

.imgs{
  border-radius: 7px;
  padding-bottom: 9px;
}

.div{
  background-color: rgb(29, 29, 29);
}


